<!-- Portfolio Start -->
<section id="portfolio-work" style="padding-bottom: 0">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2 id="gallery" class="gallery-heading">Gallery</h2>
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                  {{ range .Site.Data.work.portkeys }}
                    <li class="filter" data-filter=".{{ .category }}">{{ .category }}</li>
                  {{ end }}
                </ul>
              </div>
              <div class="portfolio-contant">
                <div id="portfolio-contant-active" class="row">
                  {{ range .Site.Data.work.portfolio }}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix {{ .category}}">
                      <a href="{{ $.Site.BaseURL }}{{ .image }}" class="thumbnail">
                        <img src="{{ $.Site.BaseURL }}{{ .image }}" alt=""/>
                      </a>
                    </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

{{ if isset .Site.Data.work "call" }}
  {{ partial "call-to-action.html" .Site.Data.work.call }}
{{ end}}
